@import './variables.scss';

.btn-submit{
    background-color: $primary-color;
    color: #fff;
    border: none;
}
.btn-submit:hover{
    background-color: $dark-color;
    color: #fff;
}
.btn-accent{
    background-color: $accent-color;
    color: #fff;
    border: none;
}
.btn-accent:hover{
    background-color: $accent-dark-color;
    color: #fff;
}
li{
    transition: 0.3s ease;
}
li:hover{
    background-color: $light-color;
    transition: 0.3s ease;
}