@import './variables.scss';

.btn-submit{
    background-color: $primary-color;
    color: #fff;
    border: none;
}
.btn-submit:hover{
    background-color: $dark-color;
}
.btn-accent{
    background-color: $accent-color;
    color: #fff;
    border: none;
}
.btn-accent:hover{
    background-color: $accent-dark-color;
}